{% extends 'basedash.html' %}
{% load static %}
{% block content %}
    <div class="min-vh-100">
<div class="heading">
    <h3 class="text-center mt-4">Hello {{last_name.capitalize}}!</h3><br>
    <p class="text-center">Recently Logged <a href="{% url 'activityview' %}" style="color: #435a42; text-decoration: underline">Activities</a> and <a
            href="{% url 'issueview' %}" style="color: #435a42; text-decoration: underline">Issues</a></p>
</div>
    <div class="row justify-content-center">
    <div class="col-md-7">
            <h2 class="text-center">Logged Activities</h2>
    <div class="table-responsive">
    <table class="table table-striped table-hover">
        <tr>
            <th class="text-center">Site Name</th>
            <th class="text-center">Date</th>
            <th class="text-center">Site Open Time</th>
            <th class="text-center">Site Close Time</th>
            <th class="text-center">Work Completed</th>
            <th class="text-center">Equipment Used</th>
            <th class="text-center">Materials Used</th>
            <th class="text-center">Images</th>
            <th class="text-center">Documents</th>
{#            <th class="text-center">Update</th>#}
{#            <th class="text-center">Delete</th>#}
            
        </tr>
    {% if activities %}
        {% for activity in activities|slice:":5" %}
        <tr>
            <td class="text-center">{{ activity.site_name }}</td>
            <td class="text-center">{{ activity.date }}</td>
            <td class="text-center">{{ activity.site_open_time }}</td>
            <td class="text-center">{{ activity.site_close_time }}</td>
            <td class=""><pre style="white-space: pre-wrap; font-family: inherit; justify-content: left">{{ activity.work_completed|slice:":50" }}</pre></td>
            <td class=""><pre style="white-space: pre-wrap; font-family: inherit; justify-content: left">{{ activity.equipment_used|slice:":50" }}</pre></td>
            <td class=""><pre style="white-space: pre-wrap; font-family: inherit; justify-content: left">{{ activity.materials_used|slice:":50" }}</pre></td>
            <td class="text-center">
                {% for photo in activity.progress_photos.all|slice:":1" %}
                    <img src="{{ photo.image.url }}" alt="Progress Photo" width="50" height="50">
                {% endfor %}
            </td>
            <td class="text-center">
                {% for document in activity.relevant_documents.all|slice:":1" %}
                    <a href="{{ document.document.url }}" style="color: black">Document Used</a><br>
                {% endfor %}
            </td>
{#            <td><a href="{%url 'activityupdate' activity.id %}" type="button" class="btn btn-outline-warning">Update</a></td>#}
{#            <td><a href="/" type="button" class="btn btn-outline-danger">Delete</a></td>#}
        </tr>
        {% endfor %}
    {% else %}
    <h6 class="text-center">You have no activities logged yet</h6>
    {% endif %}
    </table>
    </div>
    </div>
    <div class="col-md-5">
          <h2 class="text-center text-capitalize">Logged Issues</h2>
    <div class="table-responsive">
    <table class="table table-striped table-hover">
        <tr>
            <th class="text-center">Site Name</th>
            <th class="text-center">Issue Date</th>
            <th class="text-center">Issue Time</th>
            <th class="text-center">Issue Description</th>
            <th class="text-center">Issue Resolution Steps</th>
            <th class="text-center">Issue Status</th>
            <th class="text-center">Issue Images</th>
        </tr>
    {% if issues %}
        {% for issue in issues|slice:":5" %}
        <tr>
            <td class="text-center">{{ issue.site_name }}</td>
            <td class="text-center">{{ issue.issue_date }}</td>
            <td class="text-center">{{ issue.issue_time}}</td>
            <td class="text-center">{{ issue.issue_description }}</td>
            <td class="text-center">{{ issue.resolution_steps }}</td>
            <td class="text-center">{{ issue.issue_status }}</td>
            <td class="text-center">
                {% for photo in issue.issue_photos.all|slice:":1" %}
                    <img src="{{ photo.image.url }}" alt="Issue Image" width="50" height="50">
                {% endfor %}
            </td>
        </tr>
        {% endfor %}
      {% else %}
    <h6 class="text-center">You have no issues logged yet</h6>
    {% endif %}
    </table>
    </div>
    </div>
    </div>
    </div>
{% endblock %}