{% extends 'basepublic.html' %}
{% load static %}
{% block hero %}
    <div class="row">
    <div class="col-md-7"></div>
    <div class="col-md-5">
            <h2 class="text-center sub-heading">Reset Your Password</h2><br>
            <form action="{% url 'forgot_password' %}" method="post" enctype="multipart/form-data" target="_self">
                {% csrf_token %}
                <input type="email" class="form-control mt-2" placeholder="Email Address" name="email" required>
                <div class="d-flex flex-column align-items-center">
                <button class="btn btn-success mt-2" type="submit">Reset Password</button>
                </div>
            </form>
        </div>
     </div>
{% endblock %}