{% extends 'basedash.html' %}
{% block content %}
    <div class="min-vh-100">
    <h2 class="text-center text-capitalize mt-4"><i class="fa-solid fa-clock"></i> Logged Issues</h2>
    <div class="table-responsive">
    <table class="table table-striped table-hover">
        <tr>
            <th class="text-center">Site Name</th>
            <th class="text-center">Issue Date</th>
            <th class="text-center">Issue Time</th>
            <th class="text-center">Issue Description</th>
            <th class="text-center">Issue Resolution Steps</th>
            <th class="text-center">Issue Status</th>
            <th class="text-center">Issue Images</th>
        </tr>
    {% if issues %}
        {% for issue in issues %}
        <tr>
            <td class="text-center">{{ issue.site_name }}</td>
            <td class="text-center">{{ issue.issue_date }}</td>
            <td class="text-center">{{ issue.issue_time}}</td>
            <td class="text-center">{{ issue.issue_description }}</td>
            <td class="text-center">{{ issue.resolution_steps }}</td>
            <td class="text-center">{{ issue.issue_status }}</td>
            <td class="text-center">
                {% for photo in issue.issue_photos.all %}
                    <img src="{{ photo.image.url }}" alt="Issue Image" width="50" height="50">
                {% endfor %}
            </td>
        </tr>
        {% endfor %}
      {% else %}
    <h6 class="text-center mt-4">You have no issues logged yet</h6>
    {% endif %}
    </table>
    </div>
    </div>
{% endblock %}