{% extends 'basedash.html' %}
{% load static %}
{% block content %}
<div class="container-fluid" style="min-height: 100vh" >
    <div class="col-md-8 container d-flex-column justify-content-center align-items-center centered-container">
        <div class="text-center mb-4">
            <p class="mt-4"><strong>Hello</strong> {{ user.get_full_name.upper }}</p>
            <h2> Generate Issue Report For Your Site Here</h2>
            <p><img src="{% static 'images/LOGO.png' %}" alt="Company Logo" class="img-fluid" style="max-height: 100px;"></p>
        </div>
        <form action="{% url 'issuerep' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
            <label for="name">Select Site Name for Issue Report</label> 
            <select id="name" name="site_issue_name" class="form-control mt-2" required>
                <option value="" selected disabled>Select Site Name</option>
                {% for name in site_names %}
                <option value="{{ name }}">{{ name }}</option> 
                {% endfor %} 
            </select>
            <button type="submit" class="btn btn-success mt-2">Generate Report</button>
        </form>
    </div>
</div>
{% endblock %}