{% extends 'basepublic.html' %}
{% load static %}
{% block hero %}
    <div class="row">
    <div class="col-md-7"></div>
    <div class="col-md-5">
            <h2 class="text-center sub-heading">Login Here</h2><br>
            <form action="{% url 'login' %}" method="post" enctype="multipart/form-data" target="_self">
                {% csrf_token %}
                {% if messages %}
                        {% for message in messages %}
                            <p style="color: {% if message.tags == 'error' %}red{% else %}green{% endif %};">
                                {{ message }}
                            </p>
                            <h2 style="font-size: 0.5em; color: #0a3622">Login Here</h2>
                        {% endfor %}
                {% endif %}
                <input type="email" class="form-control mt-2" placeholder="Email Address" name="email" required>
                <input type="password" class="form-control  mt-2" placeholder="Enter Your Password" name="password" required>
                <div class="d-flex flex-column align-items-center">
                   <a href="{% url 'forgot_password' %}" class=" nav-item nav nav-link nav-link-n">Forgot Password?</a>
                <button class="btn btn-success mt-2" type="submit">Login</button>
                </div>
            </form>
        </div>
     </div>
{% endblock %}